/* form {
    margin: auto;
  }
  
  input, button {
    margin: 5px;
    width: 30%;
    border: 2px solid black;
    font-size: 18px;
  }   */

  form {
    margin: auto;
    max-width: 800px;
    padding: 20px; 
    border-radius: 10px; 
    background-color: rgba(240, 240, 240, 0.9); 
}

input, button {
    margin: 10px; 
    width: 70%;
    border: 2px solid black;
    font-size: 24px; 
    padding: 10px 15px; 
    border-radius: 5px; 
}

button {
    cursor: pointer;
    background-color: #f06; 
    color: white; 
}

button:hover {
    background-color: #d05;
}
